<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Spring transactions</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous" />
    </head>
    <body style="padding-top: 5rem;">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Transactions</a>
        </nav>

        <main role="main" class="container-fluid">
            <div th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-warning" role="alert">
            </div>
            <div th:if="${infoMessage != null}" th:text="${infoMessage}" class="alert alert-primary" role="alert">
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-4" th:each="it : ${accounts}">
                    <div class="card" style="margin-bottom: 1rem">
                        <div class="card-header" th:text="${it.name}">Owner</div>
                        <div class="card-body">
                            <p class="card-text" th:text="${it.account.balance}">1000</p>
                        </div>
                        <div class="card-footer">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <form action="#" th:action="@{/transaction/deposit}" method="post">
                                        <div class="form-row">
                                            <div class="col">
                                                <input type="number" name="amount" placeholder="Amount..." class="form-control" required="required"/>
                                                <input type="hidden" name="to" th:value="${it.id}" required="required"/>
                                            </div>
                                            <div class="col">
                                                <button type="submit" class="btn btn-primary">Deposit</button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                <li class="list-group-item">
                                    <form action="#" th:action="@{/transaction/withdraw}" method="post">
                                        <div class="form-row">
                                            <div class="col">
                                                <input type="number" name="amount" placeholder="Amount..." class="form-control" required="required"/>
                                                <input type="hidden" name="from" th:value="${it.id}" required="required"/>
                                            </div>
                                            <div class="col">
                                                <button type="submit" class="btn btn-primary">Withdraw</button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                <li class="list-group-item">
                                    <form action="#" th:action="@{/transaction/transfer}" method="post">
                                        <div class="form-row">
                                            <div class="col">
                                                <input type="number" name="amount" placeholder="Amount..." class="form-control" required="required"/>
                                                <input type="hidden" name="from" th:value="${it.id}" required="required"/>
                                            </div>
                                            <div class="col">
                                                <select name="to" class="form-control" required="required">
                                                    <option th:each="target : ${accounts}"
                                                            th:value="${target.id}"
                                                            th:text="${target.name}"
                                                            th:disabled="${target.id == it.id}"></option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <button type="submit" class="btn btn-primary">Transfer</button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    </body>
</html>